.container {
  p {
    text-align: center;
  }
}

.ip_info_results_container {
  display: flex;
  justify-content: center;

  div:first-child {
    p {
      text-align: right;
    }
  }

  div {
    p {
      margin: 0 0.5rem;
    }
  }
}

form {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    margin: 0 1rem;
  }
}

@media (max-width: 540px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 1rem 1rem;
    }
  }
}
